body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}


@media (max-width:720px) {
    .container {
        background-color: green;
        overflow: hidden;
        padding: 0 5px;
    }
}



.header {
    width: fit-content;
    display: flex;
    position: relative;

}

.header_title {
    display: flex;
    flex-direction: column;
    margin: 61px 0px 164px 163px;
}

@media (max-width:720px) {
    .header_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width:320px) {
    .header_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.header_title .header_logo{
    width: 99px;
    height: 32px;
    margin-bottom: 163px;
}

.header_title h1 {
    /* width: 546px;
    height: 96px; */
    margin-bottom: 30px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
    color: #333333;
}

@media (max-width:720px) {
    .header_title h1  {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }
}


.header_title p {
    /* width: 453px;
    height: 52px; */
    margin-bottom: 50px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
}


.buttons {
    display: flex;
    gap: 35px;
}

.buttons button {
    width: 156.05px;
    height: 47px;
    display: flex;
    background: #000000;
    border-radius: 7.33503px;
    border: none;
    cursor: pointer;
}

.buttons button:hover {
    background: #605e5e;
}

.buttons button img {
    margin-top: 5px;
    margin-left: 5px;
}

.buttons .button_apple {
    position: relative;
}

.buttons p {
    display: inline;
    width: 75px;
    height: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}

.buttons .button_apple a {
    width: 93.78px;
    height: 24.97px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21.2716px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
}

.buttons .googlePlay_button a {
    width: 93.78px;
    height: 24.97px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
}

.buttons .googlePlay_button a span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17.6041px;
    line-height: 21px;
    color: #FFFFFF;
}

.googlePlay_button img {
    width: 32px;
    height: 30.78px;
}

.header_image {
    position: absolute;
    left: 484px;
    top: 0px;
}